body{
    background-color: white;
}

.Top-Container{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 98%;
}

#spin {
    background: -webkit-linear-gradient(rgb(8, 187, 236), rgb(239, 35, 212));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #spin:after {
    content:"";
    animation: spin 10s linear infinite;
  }
  @keyframes spin {
    0% { content:"Chiranjeev"; }
  
    25% { content: "चिरंजीव"; }
  
    50% { content: "சிரஞ்சீவ்"; }
    
    75% { content: "ਚਿਰੰਜੀਵ" }
  
    100% { content: "চিরঞ্জীব"; }
}

.Middle-Container{
    height: 200px;
    width: 200px;
    background-color: red;
}
.Bottom-Container{
    height: 200px;
    width: 200px;
    background-color: blue;
}
